<section class="contacto">
  <div class="contacto-container">
    <img src="img/barman_formulario2.jpg" alt="Contacto" class="contacto-img">
    <h2>Contáctanos</h2>
    <p>¿Tienes alguna pregunta o deseas más información sobre nuestros cócteles? ¡Envíanos un mensaje!</p>

    <form [formGroup]="contactForm" (ngSubmit)="enviar()" novalidate>

      <!-- EMAIL -->
      <div class="mb-3">
        <label for="email" class="form-label">Correo electrónico</label>

        <input
          id="email"
          type="email"
          class="form-control"
          formControlName="email"
          [class.is-invalid]="f['email'].touched && f['email'].invalid"
        />

        <!-- ERRORES EMAIL -->
        <div class="invalid-feedback" *ngIf="f['email'].touched && f['email'].errors">

         <div *ngIf="f['email'].errors && f['email'].errors['required']">
            El correo es obligatorio.
          </div>

          <div *ngIf="f['email'].errors && f['email'].errors['required']">
            Debe ser un correo válido.
          </div>

        </div>
      </div>

      <!-- MENSAJE -->
      <div class="mb-3">
        <label for="mensaje" class="form-label">Mensaje</label>

        <textarea
          id="mensaje"
          rows="4"
          class="form-control"
          formControlName="mensaje"
          [class.is-invalid]="f['mensaje'].touched && f['mensaje'].invalid"
        ></textarea>

        <!-- ERRORES MENSAJE -->
        <div class="invalid-feedback" *ngIf="f['mensaje'].touched && f['mensaje'].errors">

          <div *ngIf="f['email'].errors && f['email'].errors['required']">
            El mensaje es obligatorio.
          </div>

          <div *ngIf="f['mensaje'].errors['minlength']">
          Mínimo {{ f['mensaje'].errors['minlength'].requiredLength }} caracteres.
          </div>
          </div>
      </div>

      <button type="submit" class="btn-enviar">Enviar</button>

      <button
        type="button"
        class="btn btn-secondary"
        (click)="cancelar()">
        Cancelar
      </button>


    </form>
  </div>
</section>
