.about-contenido {
  display: flex;
  background-color: #fde5e560;
  flex-direction: column;   /* Apila el contenido verticalmente */
  justify-content: center;  /* Centra verticalmente */
  align-items: center;      /* Centra horizontalmente */
  text-align: center;       /* Centra el texto dentro */
  height: 100vh;            /* Ocupa toda la altura de la pantalla */
  padding: 20px;            /* Espacio interno */
}

.about-contenido h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.about-contenido p {
  max-width: 600px;         /* Para que no se extienda demasiado */
  line-height: 1.8;         /* Mejora la legibilidad */
  margin-bottom: 20px;
}

.about-contenido img {
  border-radius: 12px;
  margin-bottom: 10px;
}

.titulo-fresh {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  color: #460000;
  letter-spacing: 2px; /* separa un poco las letras */
}